//BASE
@import 'base/common'
@import 'base/main-form'

//Controls
@import 'controls/button-main-form'

//CALCULATOR

//HEADER
@import 'blocks/common/header'
@import 'blocks/common/logo'

//MAIN-SCREEN
@import 'blocks/main-screen'



//MAIN-FORM-BLOCK
@import 'blocks/main-form-block'


//FOOTER
@import 'blocks/common/footer'


