<section class="main-screen">
    <div id="trailer" class="is_overlay" >
        <video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto" muted>
            <source src="video/video-bg.mp4"></source>
            <source src="video/video-bg.webm" type="video/webm"></source>
        </video>
    </div>

    <div class="main-screen__inner">
        <figure class="main-screen__wrapper">
            <h3 class="main-screen__title">ГОТОВЫЕ ТОРКРЕТ СМЕСИ ОТ 10 000 Р. ЗА ТОННУ</h3>
        </figure>
        @@include('../partial/main-form.html')
    </div>
    @@include('../partial/common/footer.html')
</section>